@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Jednostavna ASP.NET Core Web aplikacija.</p>
<p>Korisnik se moze registrirati, pisati objave, komentare, uploadati slike. Brisati, editirati itd..</p>
