@{
    ViewData["Title"] = "Home Page";
}
<hr/>
<div class="item active">
    <img src="~/images/post-bg.jpg" alt="ASP.NET" class="img-responsive" height="500" />
</div>

<div class="jumbotron text-center">
   <h1>Welcome!</h1>
</div>
