body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".png"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



.post h1 a, .post h1 a:visited, .post h1 a:active, .post h1 a:hover, .post h1 a:focus {
    color: #000000;
    text-decoration: none;
    outline: none;
}
.panel-heading {
    background-image: none !important;
    background-color: #1f1f1f !important;
    color: #808080 !important;
}
.panel-footer {
    font-size: smaller;
    color: #808080 !important;
}
.panel-body{
    font-size:larger;
}
.panel-bodydetails {
    font-size:large;
    padding: 10px;
}
/*cover slika*/
.intro-header {
    background-color: #777777;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
}

    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 100px 0 50px;
        color: white;
    }

@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 150px 0;
    }
}
.intro-header .site-heading,
.intro-header .page-heading {
    text-align: center;
}

    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        margin-top: 0;
        font-size: 50px;
    }

    .intro-header .site-heading .subheading,
    .intro-header .page-heading .subheading {
        font-size: 24px;
        line-height: 1.1;
        display: block;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
        margin: 10px 0 0;
    }

@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 80px;
    }
}

.intro-header .post-heading h1 {
    font-size: 35px;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}

.intro-header .post-heading .subheading {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600;
}

.intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

    .intro-header .post-heading .meta a {
        color: white;
    }

@media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
        font-size: 55px;
    }

    .intro-header .post-heading .subheading {
        font-size: 30px;
    }
}
.user_name {
    font-size: 14px;
    font-weight: bold;
    color:gray;
    padding-bottom: 20px;
}

.comments-list .media {
    border-bottom: 1px dotted #ccc;
}
.comment-body{
    padding-bottom:20px;
}